@{
    ViewData["Title"] = "Ordem remessa - ";
}
@*<style type="text/css">
    .dt-buttons {
        float: right !important;
}
</style>*@

<div class="titulo-pagina">
    <span>
        SmartEstoque
        <i class="fas fa-caret-right"></i> Ordem remessa
    </span>
</div>

<div id="divPesquisa">
    <div class="campos-holder">
        <i class="fas fa-search fa-lg" style="color: #293949;"></i>
        <i class="fas fa-grip-lines-vertical" style="color: #293949;"></i>
        <input id="txtCodStaFil" type="number" class="ctrl-filtro numerico" maximo="9" placeholder="Cód. status" style="width: 25%;" />
         <i class="fas fa-grip-lines-vertical" style="color: #293949;"></i>
        <input id="txtDesStaFil" type="text" class="ctrl-filtro" maximo="100" autocomplete="off" placeholder="Nome Área" />
         <i class="fas fa-grip-lines-vertical" style="color: #293949;"></i>
        <select id="ddlStatus" class="form-control">
            <option value="0" selected="selected">Selecione um status...</option>
            <option value="1">ATIVO</option>
            <option value="2">DESATIVADO</option>
        </select>
        <i class="fas fa-grip-lines-vertical" style="color: #293949;"></i>
        <button class="btn btn-success" id="btnPesquisarTela" onclick="pesquisar()">
            Pesquisar
        </button>
    </div>
    <div class="row">
         <button class="btn btn-success" id="btnNovoOrdem" onclick="cadastrarNovoOrdem()" style="width: 100px">
            Novo
        </button>
    </div>
    <div>
        <table id="grdCadastroOrdemRemessa" class="display" style="width:100%">
            <thead>
                <tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    @*<div class="dataTables_consulta">
        <div id="grdOrdemRemessaContainer"></div>
    </div>*@
</div>

<!-- Cadastro -->
<div id="divCadastro" style="display: none;">
    <input id="txtindpesqtd" name="txtindpesqtd" type="text" style="display:none">
    <form action="#" id="frmCadastro" novalidate="novalidate">
        <div class="tgv-cabecalho-container">
            <div class="col-md-6 titulo-tela">
                <strong class="strong-cabecalho-tgv">Cadastro da ordem</strong>
            </div>
            <div class="col-md-6 tgv-crud-log-text divShowHide">
                <strong class="strong-cabecalho-codigo-tgv">Código:</strong> <span><input type="text" id="txtCodOrdRms" class="input-span-title" value="" readonly/></span>                
            </div>
        </div>
        <div class="tgv-crud-container tgv-mat-closer">           
            <div id="divFunInserir" class="col-md-12 nopaddingright">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Descrição:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtDescricaoOrdem" id="txtDescricaoOrdem" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" disabled></datalist>
                            <label class="mdl-textfield__label" for="txtDescricaoOrdem" disabled></label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Modelo:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <select id="ddlModelo" class="form-control">
                                <option value="0" selected="selected">Selecione um modelo...</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Fornecedor:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <select id="ddlFornecedor" class="form-control">
                                <option value="0" selected="selected">Selecione um fornecedor...</option>
                            </select>
                        </div>
                    </div>   
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Status:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <select id="ddlStatusOrdem" class="form-control">
                                <option value="0" selected="selected">Selecione um status...</option>
                            </select>
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-3">
                        <label for="input-text-1">
                            <strong class="strong-min-tgv">Data prevista entrada:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <div class="input-daterange input-daterangedmy">
                                <div class="form-group filtro" style="margin-top:-5px">
                                    <input id="txtDatFimOrdSvc" name="txtDatFimOrdSvc" data-required="1" type="text" class="mdl-textfield__input datedmy limparTooltipChange" placeholder="Data">
                                    <label class="mdl-textfield__label" for="txtDatFimOrdSvc"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Nota fiscal:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtNotFsc" id="txtNotFsc" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" disabled></datalist>
                            <label class="mdl-textfield__label" for="txtNotFsc"></label>
                        </div>
                    </div>    
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Valor lote:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtValorLote" id="txtValorLote" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" disabled></datalist>
                            <label class="mdl-textfield__label" for="txtValorLote"></label>
                        </div>
                    </div>  
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Lote:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtLote" id="txtLote" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" disabled></datalist>
                            <label class="mdl-textfield__label" for="txtLote"></label>
                        </div>
                    </div> 
                </div>
                <div class="row" id="divFinalizarOrdem">
                    <div class="col-md-3">
                        <label for="input-text-1">
                            <strong class="strong-min-tgv">Data vencimento:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <div class="input-daterange input-daterangedmy">
                                <div class="form-group filtro" style="margin-top:-5px">
                                    <input id="txtDatVnc" name="txtDatVnc" data-required="1" type="text" class="mdl-textfield__input datedmy limparTooltipChange" placeholder="Data">
                                    <label class="mdl-textfield__label" for="txtDatVnc"></label>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Valor unitário:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtVlrUnt" id="txtVlrUnt" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" disabled></datalist>
                            <label class="mdl-textfield__label" for="txtVlrUnt"></label>
                        </div>
                    </div>   
                    <div class="col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Código de barras:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtCodigoBarras" id="txtCodigoBarras" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" disabled></datalist>
                            <label class="mdl-textfield__label" for="txtCodigoBarras"></label>
                        </div>
                    </div>
                    <div class="col-md-3" id="divPeso">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Peso(KG):</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtPesoPrd" id="txtPesoPrd" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" disabled></datalist>
                            <label class="mdl-textfield__label" for="txtPesoPrd"></label>
                        </div>
                    </div>

                    <div class="form-group col-md-3" id="divQuantidade">
                        <label for="input-text-1">
                            <strong class="strong-min-tgv">Quantidade:</strong>
                        </label>
                        <input class="form-control" style="width:65px;" type="number" min='1' value="0" id="txtQdePrd">

                    </div>
                </div>
            </div>
        </div>
        <div class="row tgv-button-toolbar" style="margin-left: 500px;">
            <span>
                <button id="btnInserirCadastro" type="button" class="btn btn-success" onclick="InserirOrdem()">
                    <i class="fas fa-save"></i> 
                    Salvar
                </button>
                <button id="btnEditarCadastro" type="button" class="btn btn-success" onclick="alterarOrdem()">
                    <i class="fas fa-save"></i>
                    Salvar
                </button>   
                <button id="btnEditarProdutos" type="button" class="btn btn-success" onclick="alterarProdutos()">
                    <i class="fas fa-save"></i>
                    Alterar produtos
                </button>
                <button id="btnFecharCadastro" type="button" class="btn btn-danger">
                    <i class="fa fa-arrow-left"></i>
                    Voltar
                </button>
            </span>
        </div>

    </form>
</div>
@Html.Partial("~/Views/Paginas/CadastroOrdemRemessa/_IndexScript.cshtml")
