@*@{
    ViewData["Title"] = "Home Page";
}
*@
<style type="text/css">
    .imagemFundo{
        width: 900px;
        height: 300px;
        background-image: url(Img/LogotipoMensagem.png);
        background-size: cover;
        background-position: center;
    }
</style>
@*<div class="text-center">
    <h1 class="display-4">Smart Estoque</h1>
    <p>Seja bem vindo!</p>
</div>*@
<div class="imagemFundo" style="margin-left: 200px;">
</div>