@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<button id="clicktest">click</button>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $("#clicktest").click(function () {
        $.ajax({
            method: 'POST',
            url: '@Url.Content("/Teste/testeconexao")',
            //headers: { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() },
            async: false,
            success: function (data) {
                console.log(data);
            }
        });
    });
   
</script>