@{
    ViewData["Title"] = "Fornecedor - ";
}
@*<style type="text/css">
    .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
}
</style>*@

<div class="titulo-pagina">
    <span>
        SmartEstoque
        <i class="fas fa-caret-right"></i> Fornecedor
    </span>
</div>

<div id="divPesquisa">
    <div class="campos-holder">
        <i class="fas fa-search fa-lg" style="color: #293949;"></i>
        <i class="fas fa-grip-lines-vertical" style="color: #293949;"></i>
        <input id="txtCodFrnPrdFil" type="number" class="ctrl-filtro numerico" maximo="9" placeholder="Cód. Fornecedor" style="width: 25%;" />
         <i class="fas fa-grip-lines-vertical" style="color: #293949;"></i>
        <input id="txtDesFrnPrdFil" type="text" class="ctrl-filtro" maximo="100" autocomplete="off" placeholder="Nome Fornecedor" />
         <i class="fas fa-grip-lines-vertical" style="color: #293949;"></i>
        <select id="ddlStatus" class="form-control">
            <option value="0" selected="selected">Selecione um status...</option>
            <option value="1">ATIVO</option>
            <option value="2">DESATIVADO</option>
        </select>
        <i class="fas fa-grip-lines-vertical" style="color: #293949;"></i>
        <button class="btn btn-success" id="btnPesquisarTela" onclick="pesquisar()">
            Pesquisar
        </button>
    </div>
    <div class="row">
         <button class="btn btn-success" id="btnNovoFornecedor" onclick="cadastrarNovoFornecedor()" style="width: 100px">
            Novo
        </button>
    </div>
    <div>
        <table id="grdCadastroFornecedor" class="display" style="width:100%">
            <thead>
                <tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    @*<div class="dataTables_consulta">
        <div id="grdFornecedorContainer"></div>
    </div>*@
</div>

<!-- Cadastro -->
<div id="divCadastro" style="display: none;">
    <form action="#" id="frmCadastro" novalidate="novalidate">
        <div class="tgv-cabecalho-container">
            <div class="col-md-6 titulo-tela">
                <strong class="strong-cabecalho-tgv">Cadastro do Fornecedor</strong>
            </div>
            <div class="col-md-6 tgv-crud-log-text divShowHide">
                <strong class="strong-cabecalho-codigo-tgv">Código:</strong> <span><input type="text" id="txtCodFrnPrd" class="input-span-title" value="" readonly/></span>                
            </div>
        </div>
        <div class="tgv-crud-container tgv-mat-closer">           
            <div id="divFunInserir" class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Descrição:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtDescricaoFornecedor" id="txtDescricaoFornecedor" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" ></datalist>
                            <label class="mdl-textfield__label" for="txtDescricaoFornecedor" ></label>
                        </div>
                    </div>  
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Telefone principal:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtTelefonePrincipal" id="txtTelefonePrincipal" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" ></datalist>
                            <label class="mdl-textfield__label" for="txtTelefonePrincipal" ></label>
                        </div>
                    </div>  
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Telefone Secundário:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtTelefoneSecundario" id="txtTelefoneSecundario" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" ></datalist>
                            <label class="mdl-textfield__label" for="txtTelefoneSecundario" ></label>
                        </div>
                    </div>  
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Responsável:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtResponsavel" id="txtResponsavel" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" ></datalist>
                            <label class="mdl-textfield__label" for="txtResponsavel" ></label>
                        </div>
                    </div>       

                </div>  
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Endereço:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtEndereco" id="txtEndereco" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" ></datalist>
                            <label class="mdl-textfield__label" for="txtEndereco" ></label>
                        </div>
                    </div>  
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Cidade:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtCidade" id="txtCidade" class="mdl-textfield__input text-uppercase limparTooltipKeyDown">
                            <datalist id="select" ></datalist>
                            <label class="mdl-textfield__label" for="txtCidade" ></label>
                        </div>
                    </div>  
                    <div class="form-group col-md-3">
                        <label for="input-text-1" style="margin-bottom: 0px;">
                            <strong class="strong-min-tgv">Estado:</strong>
                        </label>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input list="select" name="txtEstado" id="txtEstado" class="mdl-textfield__input text-uppercase limparTooltipKeyDown" maxlength="2">
                            <datalist id="select" ></datalist>
                            <label class="mdl-textfield__label" for="txtEstado" ></label>
                        </div>
                    </div> 
                </div>
            </div>

        </div>


        <div class="row tgv-button-toolbar" style="margin-left: 500px;">
            <span>
                <button id="btnInserirCadastro" type="button" class="btn btn-success" onclick="InserirFornecedor()">
                    <i class="fas fa-save"></i> 
                    Salvar
                </button>
                <button id="btnEditarCadastro" type="button" class="btn btn-success" onclick="alterarFornecedor()">
                    <i class="fas fa-save"></i>
                    Salvar
                </button>
                <button id="btnFecharCadastro" type="button" class="btn btn-danger">
                    <i class="fa fa-arrow-left"></i>
                    Voltar
                </button>
            </span>
        </div>

    </form>
</div>
@Html.Partial("~/Views/Paginas/CadastroFornecedor/_IndexScript.cshtml")
